################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Test.lib/obj/Debug
/Test.lib/Properties
